
.login-box {
  max-width: 300px; /* Adjust the maximum width of the login box as per your preference */
  margin: 0 auto; /* Center the login box horizontally */
  padding: 20px; /* Adjust the padding as per your preference */
  border: 1px solid #ccc; /* Border style */
  border-radius: 5px; /* Rounded corners */
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%; /* Make the input fields occupy full width */
  padding: 10px; /* Adjust the padding as per your preference */
  margin-bottom: 10px; /* Space between input fields */
  border: 1px solid #ccc; /* Border style */
  border-radius: 5px; /* Rounded corners */
}

.login-box input[type="submit"] {
  width: 100%; /* Make the submit button occupy full width */
  padding: 10px; /* Adjust the padding as per your preference */
  background-color: #4CAF50; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
}

.login-box input[type="submit"]:hover {
  background-color: hsl(123, 37%, 46%); /* Button background color on hover */
}
#goBack{
    
    
    text-align: center;
}
footer{
    text-align: center;
    background-color: #4CAF50;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
