#faq {
    background-color:#16c196;
    padding: 50px;
    text-align: center;
    background: url("./images/bg2.png") center center;
    background-size: cover;
    position: bottom;
}

.snR {
    background-color:#16c196;
    padding: 50px;
    text-align: center;
    background: url("./images/bg2.png") center center;
    background-size: cover;
    position: bottom;
}