html {
  height: 100%;
  width: 100%;
}

#title{

  z-index: 500;

}
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  
  #card {
    padding: 50px;
    text-align: center;
    background: url("./images/bg3.png") center center;
    background-size: cover;
  }

  #card h1 {
    color: white;
  }

  #equipment {
    padding: 50px;
    text-align: center;
    background: url("./images/bg2.png") center center;
    background-size: cover;
  }

  #equipment h1 {
    color: white;
  }
  
  .navbar { 
      background-color: #e7eef1;
      height: 80px; 
      width: 100%;
      position: fixed;
      z-index: 500
    }
    
    .navbar ul {
      height: 80px;
      list-style: none;
      margin: 0 auto; 
      padding: 0;
    }
    
    .navbar ul li {
      color: #fff;
      display: inline-block; 
      height: 80px;
      line-height: 80px; 
      list-style: none;
      padding: 0 50px;
      transition: background .5s;
    }

      .button {
        position: relative;
        top:50%;
        right: 0;
        transform: translateY(-50%);
        border: none;
        background-color: #e7eef1;
       
      }

      .btn_btn-primary {
        padding-top: 50px;
      }

      .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
 
      section .container {
        padding: 50px;
      }

      section .container2 {
        padding: 500px;
        text-align: center;
      }

      section .container2 .display-5 {
        text-align: center;
        align-items: center;
      }
  

      .jumbotron {
        background-size: cover;
        height: 1500px;
        background: url("./images/bg1.png") center center;
        background-size: cover;
      }

      .jumbotron .container {
        position: relative;
        top: 400px;
        bottom: 200px;
      }
      
      .jumbotron h1 {
        color: #fff;
        text-align: left; 
      }
      
 
      
      


/* footer section */

  footer {
    padding: 40px 0; /* Adjust the padding as per your preference */
    text-align: center;
    background: url("./images/bg1.png") center center;
    background-size: cover;
  }

footer h5 {
  color:white; /* Heading color */
  font-size: 18px; /* Heading font size */
  margin-bottom: 20px; /* Space between headings and content */
}

footer p {
  color: #e7eef1; /* Paragraph text color */
  font-size: 14px; /* Paragraph font size */
  margin-bottom: 10px; /* Space between paragraphs */
}

footer a {
  color: black; /* Link text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth color transition on hover */
}

footer a:hover {
  color: #555; /* Link text color on hover */
}

footer form .form-control {
  width: 100%; /* Set the width of the input field */
}

footer form .btn-primary {
  margin-top: 10px; /* Space between input field and button */
}

footer ul {
  list-style: none; /* Remove bullet points */
  padding-left: 0; /* Remove left padding */
  margin-bottom: 20px; /* Space between lists */
}

footer ul li {
  margin-bottom: 10px; /* Space between list items */
}


.input-group{
padding-right: 65px;
padding-left: 70px;
}

 footer .py-5{
    background-color: #419eb9;
  }



