html{
    background-color: #e7eef1;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-nav { 
    height: 50px; 
    width: 100%;
    position: fixed;
    z-index: 500;
    text-align: center;
    background-color: #e7eef1;
  }
  
  .navbar-nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    transition: background .5s;
  }

      .img {
        display: flex;
        align-content: center;
      }
 
  
  /* footer section */
  
    footer {
      background-color: #16c196; /* Light green/blue background color */
      padding: 40px 0; /* Adjust the padding as per your preference */
    }
  
    footer h5 {
      color: #e30808; /* Heading color */
      font-size: 18px; /* Heading font size */
      margin-bottom: 20px; /* Space between headings and content */
    }
  
    footer p {
      color: #e7eef1; /* Paragraph text color */
      font-size: 14px; /* Paragraph font size */
      margin-bottom: 10px; /* Space between paragraphs */
    }
  
    footer a {
      color: #06a970; /* Link text color */
      text-decoration: none; /* Remove underline */
      transition: color 0.3s; /* Smooth color transition on hover */
    }
  
    footer a:hover {
      color: #555; /* Link text color on hover */
    }
  
    footer form .form-control {
      width: 100%; /* Set the width of the input field */
    }
  
    footer form .btn-primary {
      margin-top: 10px; /* Space between input field and button */
    }
  
    footer ul {
      list-style: none; /* Remove bullet points */
      padding-left: 0; /* Remove left padding */
      margin-bottom: 20px; /* Space between lists */
    }
  
    footer ul li {
      margin-bottom: 10px; /* Space between list items */
    }
  
    footer hr {
      border-top-color: #2fe70a; /* Horizontal rule color */
      margin: 30px 0; /* Space above and below horizontal rule */
    }
  
    footer p {
      color: #0544d9; /* Text color of the copyright notice */
      font-size: 12px; /* Font size of the copyright notice */
      margin-bottom: 0; /* Remove margin bottom */
    }
  
  